.trophy-detail-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.trophy-detail-table{
    width: 100%;
}

@media(max-width:768px){
    .trophy-detail-table{
        width: 100%;
    }
    .trophy-detail-container{
        flex-direction: column;
    }
}

.not-achieved{
    opacity: .5;
}

.trophy-icon{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
}

.main-trophy-info{
    display: flex;
    align-items: center;
    gap: .5rem;
}

td{
    position: relative;
}

.date-trophy-info{
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.trophy-desc-name{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.trophy-description{
    font-size: small;
    color: #464545;
}

.earned-rate{
    text-align: center;
}

.first-trophy, .latest-trophy, .rarest-trophies{
    outline: 1px solid black;
    outline-offset: 1px;
}