.filters{
    padding: .8rem;
    display: flex;
    color: white;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #24252b;
    width: 90%;
    align-self: center;
}

.selectRange{
    cursor: pointer;
}

.selectTitle{
    width: 50%;
    background-color: #3d3f47;
    color: white;
    border: none;
}

.selectRarity{
    background-color: #3d3f47;
    color: white;
    padding: .1rem;
}

.filters input[type='text']{
    font-size: medium;
    padding: .1rem;
}

.sub-filters{
    display: flex;
    gap: .5rem;
}