.filters{
    border: 1px solid black;
    padding: .8rem;
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
}

.selectRange{
    cursor: pointer;
}

.filters input[type='text']{
    font-size: medium;
    padding: .1rem;
}

.sub-filters{
    display: flex;
    gap: .5rem;
}