.header{
    color: white;
    display: flex;
    padding: 2rem 3rem 2rem 3rem;
    gap: 2rem;
    align-items: center;
}

.header > p {
    text-wrap: nowrap;
}

.searchBar{
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 1rem;
    height: 2.5rem;
}

.proyect-title{
    font-size: x-large;
    font-weight: 600;
}

.gamer-range{
    font-size: small;
    background-color: white;
    padding: .1rem;
    color: #151515;
    border-radius: 3px;
}