.gamesTable{
    overflow: hidden;
    height: 100%;
}

.gamesTable tr, thead, tbody{
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
}

thead {
    width: calc( 100% - 1em )
}

.gamesTable tbody{
    height: 100%;
    display: block;
    overflow: auto;
}
