.userInfo{
    padding: 1rem;
    display: flex;
}

.userInfo ul{
    list-style: none;
}

.userInfo li {
    display: flex;
    flex-direction: column;
}

.userInfo b {
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}